<!-- MAIN -->

      <!-- LOGIN -->
{LOGIN}
      <!-- END LOGIN -->
      
      <!-- LOGOUT -->
{LOGOUT}
      <!-- END LOGOUT -->
      
      <!-- INFO_MSG -->
{ERROR_MSG}
      <!-- END INFO_MSG -->
      
      <!-- INFO_MSG -->
{INFO_MSG}
      <!-- END INFO_MSG -->

      <!-- SUBMENU -->
{SUBMENU}
      <!-- END SUBMENU -->
      
      <!-- LEFT COLUMN -->
{LEFT}
      <!-- END LEFT COLUMN -->

      <!-- MAIN COLUMN -->
{MAIN}
      <!-- END MAIN COLUMN -->
  
      <!-- RIGHT COLUMN -->
{RIGHT}
      <!-- END RIGHT COLUMN -->

<!-- END MAIN -->

