<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<!-- HEADER -->
  <head>
    <title>{title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href={CSS1} type="text/css" />
    <link rel="stylesheet" href={CSS2} type="text/css" />
    <style type="text/css">#menu li #{MENU_ACTIVE} { color: #483D8B;font-weight: bolder;background: url(http://xiu.ath.cx/tmp/snw/common/img/navi/px_button_green.gif) repeat-x 0 -32px;text-align: right;padding: 8px 25px 0 10px;}</style>
  </head>
  <body>
<!-- MAIN -->

    <div id="banner">
      <img src={LOGO} alt="Sch&uuml;lerportal Logo" />
    </div>
    <div id="menu">
    
{menu}

    </div>
    <div id="leftcol">
    
{left}
      
    </div>
    <div id="rightcol">
    
{right}

    </div>
    <div id="main">

{main}
      
    </div>
<!-- FOOTER -->    
    <div id="footer">
      {footer}
    </div>
  </body>
</html> 