<!-- FOOTER -->
      <div id="footer">
{FOOTER}
      </div>
    </div>
    <!-- END MAIN CONTAINER -->
    
    <!-- ADVERTISER BOTTOM -->
{ADVERTISER_BOTTOM}
    <!-- END ADVERTISER BOTTOM -->

  </body>
<!-- END FOOTER -->
</html> 
